.icon{
    width: 50px;
    height: 80px;
    object-fit: cover;
    border-radius: 2px;
}

.chat-container{
    justify-content: center;
    overflow: hidden;
}

.chatContent{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.chatDetails {
    padding: 5px;
    display: flex;
    align-items: center;
}

.chatDetails p{
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.chatRobot{
    background-color: rgb(174, 197, 235);
}

.chatHuman{
    background-color: rgb(215, 219, 228);
}

.chatTemp{
    background-color: rgb(215, 219, 228);
    width: 100%;
    height: 90px;
}

.chatTemp .chatDetails{
    float: right;
}

.typing-animation{
    display: inline-flex;
    padding-right: 25px;
}

.typing-animation .typingDot{
    height: 7px;
    width: 7px;
    opacity: 0.7;
    margin: 0 3px;
    border-radius: 50%;
    background: black;
    animation: animateDots 1.5s ease-in-out infinite;
}

.typingContainer{
    position: fixed;
    bottom: 0;
    margin-bottom: 11px;
    width: 29.5%;
}

#chatInput{
    width: 100%;
}

.typingTextarea{
    display: flex;
    border: none;
    background: rgb(159, 169, 192);
}

#enterButton{
    background-color: rgb(39, 43, 92);
    color: white;
    border: none;
    text-align: center;
    padding: 15px 32px;
    font-size: 16px;
}

@keyframes animateDots {
    0%, 44%{
        transform: translateY(0px);
    }
    22%{
        transform: translateY(-6px);
    }
    44%{
        opacity: 0.2;
    }
}